
%div{:class =>"price-slider row"}
    %div{:class=>"col-sm-6"}
        %h4{:class => "great"} #{title} 
        %span #{description}
    %br
    %br
    %div{:class=>"col-sm-6 pull-right"}
        %div{:id => slider}