/ = label :pup, :pup_name, title
/ = text_field :pup, var, :class => "form-control", :placeholder => placeholder
/ = label :pup, var, title
%div{:class=>"col-sm-3 row"}
	= text_field :pup, var, :class => "form-control input-normal", :placeholder => placeholder
